<app-cv-logo link= "https://s3-us-west-2.amazonaws.com/lasaga-blog/media/original_images/grupo_imagen.jpg"></app-cv-logo>
<app-cvciudad title="cochabamba"></app-cvciudad>
<app-cvciudad title="santa Cruz"></app-cvciudad>
<app-cvciudad title="Oruro"></app-cvciudad>

<ion-row style="text-align: center;">
  <ion-col>
    <ion-button color="medium">Ingrese busqueda</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" (click)="calcularMayor()">Calcular</ion-button>
  </ion-col>
</ion-row>
